header {
    background: #965c15;
    height: 60px;
}
.admin-wrap { 
    height: calc(100% - 66px);
    display: flex;
}
.admin-wrap .left-bar {
    flex: 2;
    height: 100%;
    background:#965c15;
}
.admin-wrap .admin-content {
    flex: 8;
    height: 100%;
    border: 1px solid red;
}