/*Admin dashboard*/
.cntent .table {
  border-spacing: 10px;
  width: 100%;
  border: 1px solid black;
}
content .table .tr .th {
  text-align: left;
  padding: 15px;
  border: 1px solid;
  border-bottom: 1px solid #ff8c00;
}
.content .th {
  height: 70px;
}

.del-btn {
  width: 80%;
  height: 32px;
  border: 1px solid white;
  box-sizing: border-box;
  background: linear-gradient(45deg, #ff8c00, #03bb85);
  border-radius: 50px;
  padding: 0 10px;
  font-size: 18px;
  outline: none;
  margin: 35 0 10px;
  cursor: pointer;
}
